@model Model.EF.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

@section jsfooter
{
    <script>
        function BrowseServer() {
            var finder = new CKFinder();
            finder.selectActionFunction = SetFileField;
            finder.popup();
        }
        function SetFileField(fileUrl) {
            document.getElementById("Image").value = fileUrl;
        }
        function BrowseServer1() {
            var finder = new CKFinder();
            finder.selectActionFunction = SetFileField1;
            finder.popup();
        }
        function SetFileField1(fileUrl) {
            document.getElementById("Image1").value = fileUrl;
        }
        function BrowseServer2() {
            var finder = new CKFinder();
            finder.selectActionFunction = SetFileField2;
            finder.popup();
        }
        function SetFileField2(fileUrl) {
            document.getElementById("Image2").value = fileUrl;
        }
        function BrowseServer3() {
            var finder = new CKFinder();
            finder.selectActionFunction = SetFileField3;
            finder.popup();
        }
        function SetFileField3(fileUrl) {
            document.getElementById("Image3").value = fileUrl;
        }
    </script>
}
@section jsfooter1
{
    <script>
        $('select.listbox').attr('data-rel', 'chosen');
    </script>

}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thêm sản phẩm</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="typeahead">Tên sản phẩm</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.TenSP, new { @class = "span6 typeahead" })
                                @Html.ValidationMessageFor(model => model.TenSP)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="typeahead">Giá sản phẩm</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.GiaSP, new { @class = "span6 typeahead" })
                                @Html.ValidationMessageFor(model => model.GiaSP)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="typeahead">Giá khuyến mại</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.GiaKhuyenMai, new { @class = "span6 typeahead" })
                                @Html.ValidationMessageFor(model => model.GiaKhuyenMai)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="typeahead">Mô tả</label>
                            <div class="controls">
                                @Html.TextAreaFor(model => model.MoTa, new { @class = "cleditor", @rows = "3" })
                                @Html.ValidationMessageFor(model => model.MoTa)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Hình ảnh chính </label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.HinhAnhSP, new { @id = "Image", @name = "Image" })
                                <input value="Chọn ảnh" class="input-file uniform_on" id="fileInput" type="button" onclick="BrowseServer();" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Hình ảnh phụ thứ nhất </label>
                            <div class="controls">
                                @Html.TextBox("img1", null, new { @id = "Image1"})
                                <input value="Chọn ảnh" class="input-file uniform_on" id="fileInput" type="button" onclick="BrowseServer1();" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Hình ảnh phụ thứ hai </label>
                            <div class="controls">
                                @Html.TextBox("img2", null, new { @id = "Image2"})
                                <input value="Chọn ảnh" class="input-file uniform_on" id="fileInput" type="button" onclick="BrowseServer2();" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Hình ảnh phụ thứ ba </label>
                            <div class="controls">
                                @Html.TextBox("img3", null, new { @id = "Image3"})
                                <input value="Chọn ảnh" class="input-file uniform_on" id="fileInput" type="button" onclick="BrowseServer3();" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="typeahead">Số lượng</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.SoLuong, new { @class = "span6 typeahead" })
                                @Html.ValidationMessageFor(model => model.SoLuong)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="selectError3">Màu Sắc</label>
                            <div class="controls">
                                @Html.ListBox("listMau", (SelectList)ViewBag.mausac, new { @multiple = "", @class = "listbox" })
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="selectError3">Kích Thước</label>
                            <div class="controls">
                                @Html.ListBox("listSize", (SelectList)ViewBag.kichthuoc, new { @multiple = "", @class = "listbox" })
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="selectError3">Danh mục</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.MaDanhMucSP, null)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="selectError3">Hãng</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.MaHang, null)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="selectError3">Bộ sưu tập</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.MaBST, null)
                            </div>
                        </div>

                        <div class="form-actions">
                            <a style="background-color:#702222; text-decoration: none; color: #fff" class="btn" href="@Url.Action("Index", "Product")">Back to list</a>
                            <button type="submit" class="btn btn-primary" name="btnSubmit">Submit</button>
                            <button type="reset" class="btn">Reset</button>
                        </div>
                    </fieldset>
                </div>

            }

        </div>
    </div><!--/span-->
</div><!--/row-->